/*---------------------------- Aspectos Generales ----------------------------*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    scroll-behavior: smooth;          
}

section{
    padding:40px 0;
}

form,.alert{
    width:600px;
}
